.header {

    &--wrapper {
        display: flex;
        justify-content: center;
        height: 225px;
        background: #404040;
    }

    &--container {
        width: 100%;
        max-width: 900px;
        height: 100%;
    }

    &--navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        width: 100%;
        height: 170px;
    }

    &--link {

        &-box {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 8px;
            cursor: pointer;
            transition: .25s;

            &:hover {
                background: #525252;
                transition: .25s;

                & .floating-list {
                    display: block;
                }
            }

            & svg {
                width: 32px;
                height: 32px;
                fill: #ffffff;
            }

            & span {
                font-size: 1.25em;
                color: #ffffff;
                padding-top: 10px;
            }
        }
    }
}

.content {

    &--wrapper {
        display: flex;
        justify-content: center;
    }

    &--box {
        max-width: 900px;
        width: 100%;
        background: #ffffff;
        margin-top: -55px;
        font-size: 1.35em;
        border: 1px solid #ECECEC;
        animation-name: fade-in;
        animation-duration: .5s;

        @media screen and (max-width: 899px) {
            border-left: none;
            border-right: none;
        }

        & > section {
            font-size: .95em;
            line-height: 1.5em;
            padding: 0 10px;

            @media screen and (min-width: 900px) {
                padding: 0 25px;
                font-size: 1.1em;
            }
        }

        @media screen and (min-width: 900px) {
            border-radius: 5px;
            margin-bottom: 40px;
        }
    }

    &--title {
        border-top: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;
        height: 76px;
        line-height: 75px;
        text-align: center;
        color: #777777;
        font-size: 1.85em;
        font-weight: 300;
        text-transform: uppercase;
        margin: 20px 0 10px;

        @media screen and (min-width: 900px) {
            padding-left: 35px;
            text-align: left;
        }

        &:first-child {
            border-top: none;
            margin: 0 0 20px 0;
        }
    }
}

.footer {

    &--wrapper {
        height: 60px;
        display: flex;
        justify-content: center;

        @media screen and (min-width: 900px) {
            border-top: 1px solid #dddddd;
        }
    }

    &--box {
        width: 900px;
        padding: 15px;
        line-height: 30px;
        font-size: 1.4em;
        color: #555555;
        text-align: center;
        height: 100%;
    }
}

.floating-list {
    position: absolute;
    display: none;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(#000000, .2);
    top: 90px;
    width: 200px;
    padding: 5px 0;

    & > a {
        display: block;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        font-size: 1.4em;
        color: #555555;
        border-bottom: 1px solid #ECECEC;
        transition: .2s;

        &:hover {
            background: #eeeeee;
            transition: .2s;
        }

        &:last-child {
            border: none;
        }
    }

    &:hover {
        display: block;
    }
}

@keyframes fade-in {
    0% {
        margin-top: 0;
        opacity: 0;
    }

    100% {
        margin-top: -55px;
        opacity: 1;
    }
}
