.main {

    &--news {

        &-container {
            display: flex;
            flex-direction: column;
            margin: 20px 0;

            @media screen and (min-width: 900px) {
                flex-direction: row;
            }
        }

        &-link {
            color: #44b0d7;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        &-item {
            width: 50%;
            padding-right: 15px;

            @media screen and (max-width: 899px) {
                width: 100%;

                &:first-child {
                    border-bottom: 1px solid #ECECEC;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                }
            }

            & article {
                height: 100%;
                position: relative;
            }

            &-title {
                font-weight: 400;
                text-transform: uppercase;
            }

            & p {
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @media screen and (min-width: 900px) {

                &:last-child {
                    padding-right: 0;
                    padding-left: 15px;
                    border-left: 1px solid #ECECEC;
                }
            }
        }

        &-page-link {
            display: block;
            width: 100%;
            height: 45px;
            background: #44b0d7;
            color: #ffffff;
            text-align: center;
            line-height: 45px;
            text-transform: uppercase;
            font-size: 1.05em;

            @media screen and (min-width: 900px) {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            &:hover {
                background: #3b9bbe;
            }
        }
    }
}
