.schedule {

    &--item {
        padding-bottom: 20px;
    }

    &--title {
        text-align: center;
        font-size: 1.3em;
        font-weight: 400;
        text-transform: uppercase;
        margin: 10px 0;
    }

    &--subtitle {
        padding-left: 20px;
        margin: 30px 0 10px 0;
        font-size: 1.1em;
        font-weight: 400;
        text-transform: uppercase;
    }

    &--box {
        display: flex;
        flex-direction: column;
    }

    &--row {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        height: 80px;
        line-height: 40px;
        background: #eeeeee;

        @media screen and (min-width: 600px) {
            flex-direction: row;
            height: 40px;
        }

        &:last-child {
            margin: 0;
        }

        &-item {

            &:first-child {
                padding: 0 15px;
                height: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                @media screen and (min-width: 600px) {
                    width: 85%;
                    border-right: 5px solid #ffffff;
                }

                @media screen and (max-width: 599px) {
                    border-bottom: 1px solid #dddddd;
                    text-align: center;
                }
            }

            &:last-child {
                text-align: center;
                height: 100%;

                @media screen and (min-width: 600px) {
                    width: 15%;
                }
            }
        }
    }
}
